/* body{
    background-color: #001 !important;
    color: #fff8;
} */
.content_title{
    text-decoration : none !important;
}
.center-form{
    margin: 100 px;
}

.logo-naw{
    color: #060b3d88 !important;
}
 
.nav-container{
    justify-content: start !important;
}
.items-right{
    justify-content: end !important;
}
