{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>base</title>

    <link  href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
        <!-- fontaweasome css -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
         <!-- costom css -->    
</head>
<body class="">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{% url 'home'%}">
            <i class="fa-solid fa-layer-group"></i>
            <span class="logo-naw">articles</span>
          </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {%if user.is_authenticated%}
            <li class="nav-item">
                <a class="btn" href="{% url 'articls'%}"><i class="fa-solid fa-list-check"></i> Maqolalar</a>
            </li>
            <li class="nav-item mx-1">
                <a class="btn " href="{% url 'create_article' %}"><i class="fa-solid fa-square-plus"></i> Maqola yaratish</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user fa-2x col-md-8"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right">
                <a class="dropdown-item disabled" href="#">{{user.username}}</a>
                <a class="dropdown-item" href="{%url 'settings'%}"><i class="fa-regular fa-gear"></i> Sozlamalar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{%url 'logout'%}"><i class="fa-solid fa-right-from-bracket"></i> Chiqish</a>
              </div>
            </li>
            {%else%}
            <li class="nav-item mx-1">
                <a class="btn btn-primary" href="{%url 'login'%}">Kirish</a>
            </li>
            <li class="nav-item mx-1">
                <a class="btn btn-primary" href="{%url 'signup'%}">Ro'yhatdan o'tish</a>
            </li>
            {%endif%}
          </ul>
        </div>
      </nav>

      <!-- pass -->
                
    
    
    <nav class="container navbar navbar-expand-lg ">
        <div class="container-fluid">
            <ul class="navbar-nav">
                
                
                

                
            </ul>
            
        </div>
        
    </nav>
</div>
    <script>
        function checkDelete(){
            if (confirm('{{ article }} o\'chirishnni tasdiqlang ') == true) {
               document.getElementById("submited").click();
            }
        return
    }
    </script>
    
    <header class="container">
        {% block content%}
        {% endblock content%}
        
    </header>

    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <i class="fa-solid fa-layer-group"></i>&nbsp;
            </a>
            <span class="text-muted">&copy; 2022 Sanjarbek Sodiqov, Inc</span>
          </div>
      
        </footer>
    </div>

        <!-- fontaweasome  -->
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>

        <!-- costom js -->
    <script type="javascript" src="{% static 'js/app.js'%}"></script>
        <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>