{% extends 'base.html'%}
{% block content%}
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="cor-4">
                    <h1>Maqolalar saytiga xulsh kelibsiz.</h1>
                    <h6>Bizning sahifada o'z maqolangizni joylashtiring!</h6>

                </div>
            <div class="row">
                <div class="col-3">
                    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugit sit architecto voluptatum, quidem deserunt ipsa vitae odio nemo reiciendis exercitationem alias! Dicta, accusamus quia reprehenderit ex voluptatem dignissimos odio?</h6>
                </div>
            </div>
            </div>

        </div>
        
    </div>
    
{%endblock content%}