{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 ">
    <h1>Yangi maqola yaratish</h1>
    <form action="add/" method="post" >{% csrf_token %} 
        
            <label class="form-label" for="title">title</label>
            <input class="form-control" type="text" name="title">
        
            <label class="form-label"  for="content">text</label>
            <textarea class="form-control" name="content"></textarea>
            
            <input class="btn btn-Success mt-3" type="submit" value="Save"> 
    </form>
</div>
{% endblock content%}